<!DOCTYPE html>
<html>
<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title></title>
   <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css" />
   <script src="javascript/jquery-2.1.4.min.js"></script>
   <script src="javascript/jquery.mobile-1.4.5.min.js"></script>

</head>

<body>
   <div data-role="page" id="page1">
      <div data-role="header" data-position="fixed">
         P치gina para m칩viles

      </div>
      <div role="main" class="ui-content">
         //Esta es la versi칩n para m칩viles de mi sitio web
         <h2>hola<h2>
      </div>
      <div data-role="footer" data-position="fixed">
         Contacta y lo que sea...
      </div>
   </div>
   <script src="public/javascript/Hoteles.js"> </script>
</body>
</html>
